.headerContainer {
  padding: 2% 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 2ch;
  overflow: hidden;
}
.row1 {
  display: flex;
  width: 100%;
  text-align: left;
}
.row2 {
  display: flex;
  padding-bottom: 2%;
  width: 100%;
  border-bottom: 5px solid rgb(207, 207, 207);
}

.navContainer {
  display: flex;
  flex: 1;
  gap: 3ch;
}

.connectContainer {
  display: flex;
  align-items: flex-end;
  gap: 1ch;
  justify-content: center;
}

.text {
  text-align: end;
  flex: 1;
  font-size: 2.0rem;
  font-weight: 800;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
}

.smallText{
  font-size: 1rem;
  font-weight: 500;
}

.logoContainer {
  display: flex;
  text-align: left;
  max-height: 10vh;
  width: fit-content;
  flex: 0.2;
  position: relative;
}
.logoContainer img{
  object-fit: contain;
}

.navItem {
  display: flex;
  border-radius: 20%;
  font-size: large;
  font-weight: 600;
}

.navItem:hover {
  background-color: yellow;
  transition: all 0.8s;
}

@media (max-width: 720px) {
  .logoContainer{
    display: hidden;
  }
  .row2{
    font-size: 0.6rem;
  }
}