.memberImage{
  height: 30vw;
  position: relative;
  width: 100%;
}
.memberImage img{
  object-fit: cover;
}

@media (max-width: 1000px){
  .memberImage{
    height: 40vw;
  }
}
@media (max-width: 720px){
  .memberImage{
    height: 60vw;
  }
}