.memberGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5%;
}

.team {
  padding: 5% 7%;
}