.memberGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.heading {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 5%;
}

.team {
  padding: 5% 7%;
}
@media(max-width: 1000px){
  .memberGrid{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 720px){
  .memberGrid{
    display: flex;
    flex-direction: column;
  }
}