.a {
  position: relative;
  padding: 2% 4%;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3vh;
  column-gap: 4%;
}

@media (max-width: 1000px) {
  .author {
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 820px) {
  .cardGrid{
    display: flex;
    flex-direction: column;
  }
}