.imageContainer {
	position: relative;
	height: 30vh;
}

.imageContainer img {
	object-fit: contain;
}
.loaderContainer {
	transition: all 200ms ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 2ch;
}

.tagContainer {
	display: flex;
	text-align: center;
	flex-wrap: wrap;
}
.tag {
  padding: 0.5ch 1ch;
	margin: 0.5ch 1ch;
	border-radius: 0.25rem;
	border: 1px solid #e2e8f0;
	background-color: rgba(247,250,252);
}
.tag::after {
	content: "x";
	margin-left: 3ch;
	padding-left: 1ch;
	padding-right: 1ch;
	border-radius: 1ch;
}
