
.voxpopuli
{
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
  }
  .input{
    width: 100%;
    background-color:rgba(194, 192, 192, 0.6);
    padding: 0.6ch 3ch;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
  }
  .input:focus, .input:active{
    border: none;
    outline: none;
  }
  .input::placeholder{
    color:black;
  }
  .cardGrid{
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 5vh;
    column-gap: 4%;
  }
  
  @media (max-width: 1200px){
    .cardGrid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    .imgbox  img{
      width: calc(100% / 4);
    }
  }
  
  @media (max-width: 820px) {
    .cardGrid{
      display: flex;
      flex-direction: column;
    }
  }

  .memberGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .heading {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5%;
  }
  
  .team {
    padding: 5% 7%;
  }


  .content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-450px);
    opacity: 0;
    transition: 0.3s;
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
    margin-right: 30px;
  }
  .card:hover {
    height: 320px;
  }
  .imgbox {
    position: relative;
    transform: translateY(-80px);
    z-index: 99;
      height: 340px;
      object-fit: cover;
      user-select: none;
      margin-left: 14px;
      width: calc(100% / 3);
    }
  
  .card:hover > .content {
    opacity: 1;
    transform: translateY(-180px);
  }
  
  .content h2 {
    color: #7f9ead;
  }
  

  
  