.home{
  padding: 2% 5%;
  padding-top: 0%;
}

.headingTop {
  font-size: clamp(3rem,10vw,6rem);
  font-weight: 800;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, 
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
}

.headingBottom {
  font-weight: 600;
  font-size: 1.5rem;
}

.row1 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2ch;
  margin-top: 2%;
}

.noticesHeading {
  font-size: 1.4rem;
  font-weight: 500;
  color: red;
  border-bottom: 5px solid black;
  text-align: center;
}

.noticeTitle {
  font-weight: 600;
  font-size: 1.2rem;
  padding-top: 2ch;
}

.noticeSummary {
  font-weight: 300;
}

.col2{
  margin-left: 2%;
}

.card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 100%;
  column-gap: 2%;
}

.topic{
  font-size: 3rem;
  font-weight: 700;
}

.author{
  font-size: 1.5rem;
  font-weight: 500;
}

.date{
  font-size: 1rem;
  font-weight: 300;
}

.text{
  font-size: 1rem;
  font-weight: 300;
}

.col1 {
  padding-right: 4ch;
}

.search {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 1%;
  font-size: 1.8rem;
  font-weight: 600;
  flex-direction: column;
  align-items: center;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5vh;
  column-gap: 4%;
}